<%- include("header") -%>
<div class="login">
  <img class="twitLogo" src="https://www.stickpng.com/assets/images/5a2fe479cc45e43754640849.png" alt="twitter-logo">
  <div>
    <a href="http://localhost:3000/"><button type="button" class="btn btn-secondary btn-lg">Twitter Login</button></a>
  </div>
</div>

<%- include("footer") -%>
